a {
    font-size: 18px;
}
body {
    background-image: url("https://github.com/sirakamiotoka/testhtml/blob/main/image/back.png?raw=true");
    background-size: cover;
    background-size: 200px auto;
    background-repeat: no-repeat;
}
.ziko {
    background: linear-gradient(rgb(4, 202, 4), rgb(9, 139, 31));
    padding: 3px 3px;
    border: rgba(64, 223, 162, 0.8) 3pt solid;
    border-bottom: rgba(3, 87, 55, 0.8) 5pt solid;
    color: rgb(211, 255, 210);
    font-size: 25px;
    text-shadow:1px 1px 0 rgb(82, 202, 12), -1px -1px 0 rgb(82, 202, 12),
              -1px 1px 0 rgb(82, 202, 12), 1px -1px 0 rgb(82, 202, 12),
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}
.sengen {
    background: linear-gradient(transparent 30%, #ffff7f67 50%);
    font-size: 42px;
    color: rgb(161, 76, 18);
}
.btn {
    font-size: 20px;
    color: #fff;
    background: #f54e00;
    border: 6px outset #b9000e;
}
.syoukai{
    background-color: rgba(255, 255, 255, 0.7);
}
.gametitle {
    background: linear-gradient(transparent 10%, #e98c6734 50%); 
    font-size: 40px;
    border-bottom: 8px solid;
    padding-top: 15px;
    color: rgb(153, 118, 22);
}
.link{
    font-size: 20px;
    color: blue;
    background: linear-gradient( #d8db047c,  #7577053d);
    border: rgb(109, 72, 3) solid 1.5px;
    border-bottom: rgba(100, 110, 6, 0.3) 3pt solid;
    border-left: rgba(100, 110, 6, 0.3) 3pt solid;

}

#wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: rgba(30, 145, 10, 0.9);
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2
}

#wrapper nav ul li {
    padding: 20px 28px
}

#wrapper nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
}

#wrapper .btn-gnavi {
    position:fixed;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#wrapper .btn-gnavi span {
    position: absolute;
    width: 40px;
    height: 5px;
    background: rgba(50, 50, 50, 0.7);
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
    
}

#wrapper .btn-gnavi span:nth-child(1) {
    top: 0
}

#wrapper .btn-gnavi span:nth-child(2) {
    top: 10px
}

#wrapper .btn-gnavi span:nth-child(3) {
    top: 20px
}

#wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#wrapper .btn-gnavi.open span {
    background: #fff
}

#wrapper .btn-gnavi.open span:nth-child(1) {
    width: 24px;
    -webkit-transform: translate(-7px,17px) rotate(45deg);
    transform: translate(-7px,17px) rotate(45deg)
}

#wrapper .btn-gnavi.open span:nth-child(3) {
    width: 24px;
    -webkit-transform: translate(-7px,-17px) rotate(-45deg);
    transform: translate(-7px,-17px) rotate(-45deg)
}

#wrapper .contents section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden
}

#wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666
}

#wrapper .contents section:nth-child(odd) p {
    left: 10%
}

#wrapper .contents section:nth-child(even) p {
    right: 10%
}

